[Unit]
Description=Xavecorp Battery Monitor Timer
Requires=xavecorp-battery-monitor.service

[Timer]
OnBootSec=1min
OnUnitActiveSec=30sec
AccuracySec=10sec

[Install]
WantedBy=timers.target